.container-fluid
	height: auto
	.row7
		.dung
			background: silver
			height: 500px
			.row71
				.footer
					height: 500px
					// background: red
					.row711
						.f4
							height: 500px
							// background: gold
							border-right: 0.5px solid grey
						.f8
							height: 500px
							// background: yellow
							.r81
								height: 200px
								// background: white
								border-bottom: 0.5px solid grey


							.r82
								height: 300px
								// background: white
								.c821
									height: 300px
									// background: white	
	.end
		.to 
			.to2
				.cend
					height: 80px
					background: black
					@media screen and (max-width: 767px)
						// background: red
						margin-top: 1200px