.container-fluid
	height: auto
	.box5
		height: 800px
		
		.box51
			float: left
			width: 100%
			height: 8%
			.button1
				float: left
				margin-top: 15px
				width: 5%
				height: 35px
				.fa
					text-align: center
					font-size: 25px
					&:hover
						color: #01DF01
			.button2
				float: left
				margin-top: 15px
				width: 20%
				height: 35px
				&:hover
					color: #01DF01
			.button3
				float: left
				margin-top: 15px
				width: 72%
				height: 35px
				text-align: right
				padding: 0 10px
				&:hover
					color: #01DF01
			.button4
							float: left
							margin-top: 15px
							width: 3%
							height: 35px
							text-align: right
							padding: 0 10px
							&:hover
								color: #01DF01
		.box52
			float: left
			width: 100%
			height: 70%

			.box521
				float: left
				width: 32%
				height: 47%
				background: red
				margin-left: 2%
				margin-bottom: 2%
				.box5221
					float: left
					width: 50%
					height: 100%
					background: #FFF
					border: 1px solid #000
					overflow: hidden
					position: relative
					box-shadow: 0 10px 20px rgba(0,0,0,.7)
					

					img 
						width: 100%
						height: 100%
						transition: 1s
						
						&:hover
							transform: scale(1.2)
							opacity: .5
					.img2 
						width: 100%
						height: 100%
						transition: 1s
						top: 0
						left: 0
						position: absolute

						&:hover
							transform: scale(1.2)
							opacity: 0
				.box5222
					float: right
					width: 48%
					height: 100%
					border: 1px solid #000
					.bx5
						float: left
						width: 100%
						height: 40%
						background: #fff
						border: 1px solid #000
						box-sizing: border-box
						h6
							float: left
							width: 100%
							text-align: center
							height: 30px
							font-size: 14px
							line-height: 20px
							padding: 10px 0
						.bx51
							float: left
							width: 100%
							height: 20px
							.fa1
								float: left
								margin-left: 15px
							.fa 
								padding-left: 10px
								color: #ccc
								&:hover
									color: #ff4
						.h6
							color: red
							&:hover
								color: #01DF3A
					.bx05
						float: left
						width: 100%
						height: 60%
						background: #fff
						.bx051
							float: left
							width: 50%
							height: 50%
							border: 1px solid #000
							box-sizing: border-box
							a 
								text-decoration: none
								.fa
									display: block
									width: 100%
									height: 100%
									text-align: center
									line-height: 70px
									font-size: 30px
									color: #000
									&:hover
										color: red
	.box53
		float: left
		width: 100%
		height: 22%

		.box531
			float: left
			width: 94%
			height: 20%
			background: #fff
			padding-left: 10px
			padding-top: 8px
			border-bottom: 3px solid #ccc
			box-sizing: border-box
			a
				text-decoration: none
				h6
					display: block
					width: 50%
					height: 100%
					color: #000
					&:hover
						color: #08298A
		.box532
			float: left
			width: 6%
			height: 20%
			background: #fff
			padding-left: 10px
			padding-top: 8px
			border-bottom: 3px solid #ccc
			box-sizing: border-box
			button
				float: left
				width: 45%
				height: 100%
				margin-top: -5px

				.fa
					float: left
					width: 100%
					height: 100%
					text-align: center
		.box533
			float: left
			width: 100%
			height: 70%
			margin-top: 1.5%
			background: #fff
			
			.bx5331
				float: left
				width: 20%
				height: 100%
				background: gray
				overflow: hidden 
				img
					width: 100%
					height: 100%
					transition: 2s
					&:hover
						transform: scale(1.1)
